<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bancoivpelo"
        tools:targetApi="31">
        <activity
            android:name=".activity.AtmFormActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AtmListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AtmManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MovimientosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PosicionGlobalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.posicionGlobal"
            android:exported="false"
            android:label="@string/title_activity_posicion_global"
            android:theme="@style/Theme.Bancoivpelo" />
        <activity
            android:name=".activity.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TransferActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePassActivity"
            android:exported="false" />
    </application>

</manifest>